.button {
  color: var(--foreground);
  background-color: var(--background);
  border: var(--border);
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  padding: .5rem 1rem;
  font-size: var(--font-size-button);
  max-width: 10rem;
}
.button:is(:hover, :focus) {
  background-color: var(--background-darken);
}
.button:hover {
  border-color: var(--color-dark);
}
.button:focus-visible {
  border-color: var(--color-light);
  outline-offset: calc(var(--focus-outline-width) * -2);
}
.button:active {
  background-color: var(--color-light);
  border-color: var(--color-dark);
}

.dark {
  color: var(--color-light);
  background-color: var(--color-dark);
  border-color: var(--color-dark);
}
.dark:is(:hover, :focus) {
  color: var(--color-light);
  background-color: var(--color-gray);
  border-color: var(--color-gray);
}
.dark:active {
  color: var(--color-dark);
  background-color: var(--color-gray);
  border-color: var(--color-gray);
}

.light {
  color: var(--color-dark);
  background-color: var(--color-light);
  border-color: var(--color-light);
}
.light:is(:hover, :focus) {
  color: var(--color-dark);
  background-color: var(--color-gray);
  border-color: var(--color-gray);
}
.light:active {
  color: var(--color-light);
  background-color: var(--color-gray);
  border-color: var(--color-gray);
}

.primary {
  color: var(--color-light);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.primary:is(:hover, :focus) {
  color: var(--color-light);
  background-color: var(--color-primary-lighten);
}
.primary:hover {
  border-color: var(--color-primary-lighten);
}
.primary:active {
  color: var(--color-light);
  background-color: var(--color-primary-darken);
  border-color: var(--color-primary-darken);
}

.secondary {
  color: var(--foreground);
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}
.secondary:is(:hover, :focus) {
  color: var(--foreground);
  background-color: var(--color-secondary-lighten);
}
.secondary:hover {
  border-color: var(--color-primary-lighten);
}
.secondary:active {
  color: var(--foreground);
  background-color: var(--color-secondary-darken);
  border-color: var(--color-secondary-darken);
}

.action {
  color: var(--link-color);
  background-color: var(--color-gray);
  border-color: var(--color-gray);
}
.action:is(:hover, :focus) {
  color: var(--color-gray);
  background-color: var(--link-color);
}
.action:hover {
  border-color: var(--color-light);
}
.action:active {
  color: var(--color-gray);
  background-color: var(--color-light);
  border-color: var(--color-dark);
}

.line {
  color: var(--link-color);
  background-color: var(--color-light);
  border-color: var(--link-color);
}
.line:is(:hover, :focus) {
  color: var(--color-light);
  background-color: var(--link-color);
  border-color: var(--link-color);
}
.line:active {
  color: var(--link-color);
  background-color: var(--color-gray);
  border-color: var(--link-color);
}
.transparent {
  color: var(--link-color);
  background-color: transparent;
  border-color: transparent;
}

.text {
  color: var(--color-primary);
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: var(--border) !important;
  border-color: var(--color-primary);
  padding: .5rem .3rem;
}
.text:is(:hover, :focus) {
  color: var(--color-primary-darken);
  background-color: transparent;
}
.text:hover {
  border-color: var(--color-primary-darken);
}
.text:active {
  color: var(--color-primary-lighten);
  background-color: transparent;
  border-color: var(--color-primary-lighten);
}

.transparent {
  color: var(--color-primary);
  background-color: transparent;
  border-color: transparent;
}
.transparent:is(:hover, :focus) {
  color: var(--link-color);
  background-color: var(--color-light);
}
.transparent:hover {
  border-color: var(--link-color);
}
.transparent:active {
  color: var(--link-color);
  background-color: var(--color-gray);
  border-color: var(--link-color);
}

.small {
  font-size: var(--font-size-small);
  padding: .5rem .8rem;
}

.big {
  font-size: var(--font-size-big);
  padding: .8rem 1.2rem;
}

.disabled {
  pointer-events: disabled;
  cursor: default;
  color: var(--color-disabled);
  background-color: transparent;
  border-color: inherit;
}
.disabled:is(:hover, :focus, :active) {
  color: var(--color-disabled);
  background-color: transparent;
}

.active {
  color: var(--foreground);
  background-color: var(--color-active);
}
.active:is(:hover, :focus, :active) {
  color: var(--foreground);
  background-color: var(--color-active);
}
