.formText {
  margin-top: 3rem;
  color: var(--color-primary);
  text-align: center;
  font-weight: var(--font-weight-bold);
}

.textarea {
  width: 100%;
  background-color: var(--color-select);
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
  border-radius: var(--border-radius);
  border: var(--border);
  border-color: var(--color-primary);
  padding: 1rem 1.5rem;
  resize: vertical;
  height: 100%;
  min-height: 20vh;
}

.textarea:focus {
  outline: none;
  background-color: var(--color-active);
}

.textarea:placeholder-shown {
  color: var(--color-gray);
}
