.categories {
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  justify-content: space-between;
}

.categories > a {
  width: 100%;
}

.category {
  font-weight: var(--font-weight-small);
  width: 100%;
}
