.consumableTable {
  width: 100%;
  border-collapse: collapse;
  background-color: lightgray;
}

.consumableTable th,
.consumableTable td {
  padding: 0.5rem;
  border: 1px solid rgb(10, 7, 7);
}

.consumableTable th {
  text-align: left;
  background-color: lightgray;
}

.consumableTable a {
  color: blue;
  text-decoration: none;
}
