.consumable {
  display: flex;
}

.selectable .consumable__link {
  cursor: pointer;
}

.selectable:hover .consumable__data {
  background-color: var(--color-select);
}

.consumable__data,
.consumable__remove {
  border: var(--border);
  border-color: var(--color-primary);
  padding: 1rem 0.5rem;
  background-color: var(--color-light);
  margin-bottom: 1rem;
}

.consumable__data {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  max-width: 30rem;
  border-radius: var(--border-radius);
  text-align: left;
  gap: 0.8rem;
}

/* TODO: this code should work but doesn't. It should remove the right border radius from .consumable__data if .consumable has .consumable__remove as a parent. This so .consumable__data will connect to the .consumable__remove.
Check if NextJs has no compatibility for this yet*/
.comsumable:has(.consumable__remove) .consumable__data {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.consumable__remove {
  border-left: none;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.colum {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.colum:last-child {
  align-items: flex-end;
}

.consumable__image {
  width: 100%;
  height: 100%;
  max-width: 80px;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.consumable__name {
  color: var(--color-primary);
  overflow-y: auto;
}

.consumable__price {
  background-color:  var(--color-primary);
  color:  var(--color-light);
  border-radius: var(--border-radius);
  padding: 0.3rem 0.5rem;
  min-width: 4rem;
  text-align: right;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 1rem;
}

.consumable__price > span {
  width: 100%;
  padding: .2rem;
}
