.container {
  --scroll-width: 17px;

  width: 100%;
  height: 100%;
  min-height: 55vh;
  position: relative;
  overflow: hidden;
  margin-left: var(--scroll-width);
}

.consumables {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: var(--scroll-width); /* remove scrollbar */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

.table {
  width: 100%;
  display: grid;
  /* background-color: lightgray; */
  text-align: center;
}

.table__head {
  margin-bottom: 2rem;
  border-bottom: var(--border);
  border-color: var(--color-primary);
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
}

.table__head > span {
  border-left: var(--border);
  border-color: var(--color-primary);
  padding: .5rem;
}

.table__head span:first-child {
  border: none;
  grid-column-start: 2;
}

.table__body {
  display: grid;
  gap: .2rem;
}

.table__body span {
  border: 1px solid var(--color-dark);
  padding: .3rem;
  max-height: 55px;
  overflow-y: auto;
  overflow-x: hidden;
}

.table__body img {
  width: 40px;
  height: 40px;
}

.table__head,
.tableItem {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}
