.counter {
  width: fit-content;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color-gray);
  border-radius: var(--border-radius);
  outline: 1px solid var(--color-dark);
}

.counter__minus,
.counter__plus {
  padding: .3rem .8rem;
  border: none;
  background-color: transparent;
}
.counter__minus:is(:hover, :focus),
.counter__plus:is(:hover, :focus) {
  background-color: var(--color-dark);
}

.counter__minus {
  border-right: var(--border);
  border-color: var(--color-dark);
  border-width: 1px;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.counter__plus {
  border-left: var(--border);
  border-color: var(--color-dark);
  border-width: 1px;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.counter__number {
  margin-left: .5rem;
  margin-right: .5rem;
}

.counter__minus,
.counter__plus,
.counter__number {
  color: var(--color-light);
  font-weight: var(--font-weight-bold);
}
