.container {
  background: white;
}
.selectedConsumable {
  display: flex;
  font-weight: bolder;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.form {
  display: flex;
  justify-content: center;
}
.form.button {
  height: 10;
}
.inputGroup {
  border-bottom: 1px solid;
  display: flex;
  padding: 0.2rem;
  margin: 1rem;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.inputGroup.input{
    float: right;
}

.editFormButtonsContainer {
  display: flex;
  justify-content: center;
}
.editFormButtons {
  height: 2rem;
  width: 6rem;
  margin: 0 2rem 1rem 2rem;
}
