.form {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.form a {
  justify-self: right;
}

.select,
.input {
  padding: .5rem;
  border-radius: var(--border-radius);
}

.input[type="submit"]:hover {
  /* background-color: #555;
  border-radius: 5px; */
}

.formGroup {
  display: grid;
  gap: .5rem;
}

.formGroup label {
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
}
