:root {
  --max-width: 1100px;

  --font-mono: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  --font-size-display: 2rem;
  --font-size-title: 1.5rem;
  --font-size-large: 1.2rem;
  --font-size-regular: 1rem;
  --font-size-small: 0.8rem;
  --font-size-button: 1.1rem;

  --font-size-h1: 1.5rem;
  --font-size-h2: 1.3rem;
  --font-size-h3: 1.2rem;
  --font-size-h4: 1.1rem;
  --font-zise-h5: 1rem;
  --font0size-h6: 0.8rem;

  --font-weight-bold: 800;
  --font-weight-regular: 400;
  --font-weight-small: 200;

  --border: 2px solid;
  --border-radius: 12px;

  --color-gray-100: hsl(0, 0%, 90%);
  --color-gray-200: hsl(0, 0%, 80%);
  --color-gray-300: hsl(0, 0%, 70%);
  --color-gray-400: hsl(0, 0%, 60%);
  --color-gray-500: hsl(0, 0%, 50%);
  --color-gray-600: hsl(0, 0%, 40%);
  --color-gray-700: hsl(0, 0%, 30%);
  --color-gray-800: hsl(0, 0%, 20%);
  --color-gray-900: hsl(0, 0%, 10%);

  --color-light: hsl(0, 0%, 100%);
  --color-gray: var(--color-gray-500);
  --color-dark: hsl(0, 0%, 15%);

  --color-select: var(--color-gray-200);
  --color-disabled: var(--color-gray-400);
  --color-active: hsl(35, 60%, 65%);

  --foreground:  hsl(0, 0%, 15%);
  --foreground-darken: hsl(0, 0%, 10%);
  --background: hsl(0, 0%, 95%);
  --background-darken: hsl(0, 0%, 90%);
  --background-start: var(--background);
  --background-end: var(--background-darken);

  --color-primary: hsl(0, 50%, 40%);
  --color-primary-lighten: hsl(0, 50%, 50%);
  --color-primary-darken: hsl(0, 50%, 30%);
  --color-secondary: hsl(0, 70%, 30%);
  --color-secondary-lighten: hsl(0, 70%, 40%);
  --color-secondary-darken: hsl(0, 70%, 20%);

  --color-error: hsl(0, 80%, 60%);
  --color-success: hsl(120, 60%, 60%);
  --color-warning: hsl(60, 80%, 60%);
  --color-info: hsl(240, 80%, 60%);

  --focus-outline-width: 2px;
  --focus-outline: var(--focus-outline-width) solid var(--color-dark);

  --title-color: var(--color-primary);
  --link-color: var(--color-primary);
  --border-color: var(--color-dark);

  --card-foreground: var(--foreground);
  --card-background: var(--background);
  --card-border-color: var(--color-primary);

  /* --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  ); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:focus-visible {
  outline: var(--focus-outline);
  border-radius: var(--border-radius);
}

html,
body {
  /* overflow-x: hidden; */
  min-height: 100vh;
}

html {
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
}

body {
  color:var(--foreground);
  background-color: var(--background-start); /* fallback */
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);
  font-size: var(--font-size-regular);
}

a,
link {
  color: inherit;
  text-decoration: none;
}

a[href]:is(:hover, :focus),
button:is(:hover, :focus),
link[href]:is(:hover, :focus) {
  cursor: pointer;
}

h1, .h1, h2, .h2, h3, .h3 {
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
}

h1, .h1 {
  font-size: var(--font-size-h1);
}
h2, .h2 {
  font-size: var(--font-size-h2);
}
h3, .h3 {
  font-size: var(--font-size-h3);
}
h4, .h4 {
  font-size: var(--font-size-h4);
}
h5, .h5 {
  font-size: var(--font-size-h5);
}
h6, .h6 {
  font-size: var(--font-size-h6);
}

#__next {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.hidden {
  display: none;
}
.show {
  display: block;
}

