.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-gray);
  font-weight: var(--foont-weight-bold);
}

.orders {
  display: grid;
  flex-direction: column;
  gap: 1rem;
  margin: .8rem;
}

.order {
  display: grid;
  grid-template-columns: 160px 250px auto;
  gap: .5rem;
  padding: .6rem;
  border-radius: var(--border-radius);
  background: var(--color-gray-200);
}

.order__details,
.order__number {
  padding: .5rem;
}

.order__number {
  background-color: var(--color-gray-300);
  text-align: center;
}

.order__details {
  background-color: var(--color-gray-300);
  display: flex;
  flex-direction: column;
}

.order__list {
  display: flex;
  gap: .5rem;
  overflow-x: auto;
}

.orderedItem {
  background-color: var(--color-gray-300);
  padding: .5rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 10rem;
  max-width: 15rem;
}

.orderNumber {
  margin-bottom: 1rem;
}

.orderNumber > .number {
  font-size: var(--font-size-display);
  font-weight: var(--font-weight-bold);
}

.tableNumber {
  font-size: var(--font-size-h1);
  margin-bottom: .8rem;
}

.timestamp {
  display: block;
  margin-bottom: 1rem;
}

.status {
  margin-bottom: .5rem;
}

.comment {
  padding: .3rem;
  background-color: var(--color-gray-400);
  height: 100%;
  font-size: var(--font-size-small);
  word-break: break-all;
  word-break: break-word;
  max-height: 10rem;
  overflow-y: auto;
}

.dishName {
  margin-bottom: .5rem;
}

.checkbox {
  margin-top: auto;
  text-align: right;
}

.checkbox__input {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: .2rem;
  background-color: var(--color-light);
  font: inherit;
  color: var(--color-dark);
  width: 1.15rem;
  height: 1.15rem;
  border: var(--border);
  border-radius: 0.15em;
}

.checkbox__input::before {
  content: "";
  display: block;
  width: 0.65rem;
  height: 0.65rem;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1rem 1rem var(--color-primary);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox__input:checked::before {
  transform: scale(1);
}

.checked {
  color: var(--color-light);
  background-color: var(--color-dark);
  text-decoration: line-through;
  order: 500;
}

.warning {
  color: var(--color-warning);
}

.danger {
  color: var(--color-error);
}

.warning,
.danger {
  font-weight: var(--font-weight-bold);
}
