.mobileMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.desktopMain {
  display: grid;
}

.mobileScreen {
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
}
