.container {
  background-color: var(--color-light);
  display: grid;
  max-width: 50vw;
  margin: auto;
  padding: 2rem;
  border-radius: var(--border-radius);
  gap: 2rem;
}

.container > a {
  justify-self: center;
}

.form {
  display: grid;
  gap: 1rem;
}

.form > a {
  justify-self: flex-end;
}

.formGroup {
  display: grid;
  gap: .5rem;
}

.formGroup label {
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
}

.formControl {
  padding: .5rem;
  border-radius: var(--border-radius);
}

.input[type="submit"]:hover {
  background-color: #555;
  border-radius: 5px;
}

.error {
  color: var(--color-error);
}
