.pageHeader {
  width: 100%;
  background-color: var(--background-darken);
  padding: 1rem 2rem;
}

.mobileNavbar {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.desktopNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.secondaryNavbar {
  background-color: var(--background-darken);
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  margin-top: 1rem;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  border-top: var(--border);
  border-color: var(--color-primary);
}
.navItem {
  font-size: var(--font-size-large);
  border-right: var(--border);
  border-color: var(--color-primary);
  padding: 0.5rem 1rem;
  text-align: center;
}
.navItem:hover {
  background-color: var(--color-light);
  color: var(--color-dark);
  cursor: pointer;
}
.navItem:last-child {
  border-right: none;
}

.navItem button {
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
}

.details {

}

.orderTotal {
  margin-top: 1rem;
  font-size: var(--font-size-title);
}

.bannerText {
  font-size: var(--font-size-display);
}

.welcomeMessage {
  text-align: center;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-display);
}

.hidden {
  visibility: hidden;
}
