.navigationButtons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
  justify-content: center;
}

.navigationButtons > a {
  max-width: 7rem;
  width: 100%;
}

.navigationButtons button {
  width: 100%;
}
