.totalPrice {
  border-top: var(--border);
  border-bottom: var(--border);
  border-color: var(--color-primary);
  margin: 1rem auto;
  padding: 1rem 1rem;
  width: 100%;
  text-align: right;
}

.container {
  --scroll-width: 17px;

  width: 98%;
  height: 100%;
  min-height: 50vh;
  position: relative;
  overflow: hidden;
  margin-left: var(--scroll-width);
  margin-bottom: 2rem;
}

.orders {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: var(--scroll-width); /* remove scrollbar */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

.confirm {
  margin-top: .5rem;
}

.totalPrice {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h3);
}

.OrdersDone {
  margin-top: 2rem;
  display: grid;
  gap: 0.5rem;
  max-width: 30vw;
  margin-left: auto;
  margin-right:auto;
}

.OrdersDoneItem {
  display: grid;
}

.List {
  margin-left: .5rem;
}

.ListItem {
  list-style: inside;
}
