.orderComment {
  width: 50%;
  border-left: 1px solid;
  padding-left: 1rem;
}

.orderTable {
  width: 50%;
}

.order {
  width: 50%;
  display: flex;
  border: 1px solid black;
  border-radius: 8px;
  margin: 1rem;
  justify-content: space-between;
}
.orderInfoHeader {
  border-right: 1px solid;
}
.orderInfoRow {
  border-bottom: 1px solid;
  border-right: 1px solid;
}
