.container {
  margin-top: 4rem;
  width: 100%;
}
.eachslide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eachslide__image {
  width: 100%;
  height: 100%;
  max-height: max-content;
  border-radius: 5%;
  pointer-events: none;
  object-fit: cover;
  aspect-ratio: 4/2;
}
