.tableNumber {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tableNumber__title {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-regular);
  color: var(--color-primary);
}

.tableNumber__label {
  cursor: pointer;
}

.tableNumber__label::after {
  content: "";
  border-bottom: var(--border);
  display: block;
  margin-top: .6rem;
}

.tableNumber__label,
.changeTableNumber__label {
  font-weight: var(--font-weight-bold);
  margin-left: .4rem;
}

.changeTableNumber__input {
  width: 100%;
  padding: .2rem;
  text-align: center;
  margin-top: .5rem;
}

.changeTableNumber {
  display: none;
}

.hidden {
  display: none;
}

.show {
  display: block;
}
