.container {
  /* max-width: 40rem; */
  background-color: var(--color-light);
  display: grid;
  grid-template-rows: auto 1fr;
  margin: auto;
  height: 100%;
}

.tabContent {
  width: 100%;
  justify-content: center;
}

.tabs {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
  max-width: 40rem;
}
