.table {
  width: 100%;
  display: grid;
  /* background-color: lightgray; */
  text-align: center;
}

.table__head {
  margin-bottom: 2rem;
  border-bottom: var(--border);
  border-color: var(--color-primary);
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
}

.table__head > span {
  border-left: var(--border);
  border-color: var(--color-primary);
  padding: .5rem;
}

.table__head span:first-child {
  border: none;
  grid-column-start: 2;
}

.table__body {
  display: grid;
  gap: .2rem;
}

.table__body span {
  border: 1px solid var(--color-dark);
  padding: .3rem;
  max-height: 55px;
  overflow-y: auto;
  overflow-x: hidden;
}

.table__head,
.tableItem {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
